* {
	margin: 0;
	padding: 0; 
}

.container {
	width: 600px;
	margin: auto;
	border: 1px solid Black;
	margin-top: 100px;
}

.titulo {
	text-align: center;
}

.btn {
	width: 100%;
	padding: 10px;
	background-color: gray;
}






