html {
    cursor: url('image/mata_mosca.png') 30 30, auto;
}

body {
    background-image: url(image/bg.jpg);
    background-repeat: no-repeat;
}

.mosca1 {
    width: 50px;
    height: 50px;
}

.mosca2 {
    width: 70px;
    height: 70px;
}

.mosca3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px black;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#container {
    width: 700px;
    margin: 0 auto;
    border-radius: 20%;
}

#logo_perdeu {
   width: 500px;
   margin: 0 auto;
   opacity: 1.0;
}

#bar {
    width: 50px;
    margin: 0 auto;
}

button {
    border-radius: 15%;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: black;
}
 
a {
    color: #fff;
    text-decoration: none;
}

#formx {
    font-size: 30px;
    margin-left: -100px;
}























