{% load static %}
<section class="logo-foguete">
  <div class="head-1">
    <img class="logo" src="{% static 'b/img/meetup-logo.png' %}" alt=""> 
    <h2>Attend the most awaited Conference of 2015</h2>
    <br>
    <h3>to start you up with your businessl</h3>
    <br>
    <h4>22<sup>th</sup>to 22<sup>nd</sup>October, 2015</h4>
    <button type="submit">BUT TICKETS NOW -</button>
  </div>
  <div class="head-1">
    <img class = "foguete" src="{% static 'b/img/rocket.png' %}" alt="">
  </div>
</section>
