* {
	margin: 0;
	padding: 0; 
}

.container {
	width: 318px;
	margin: auto;
	border: 1px solid Black;
	margin-top: 50px;
}

.texto {
	text-align: center;
}

.count {
	text-align: center;
	font-size: 35px;
}

.botoes {
	width: 100%;
}

.btn {
	width: 50px;
	padding: 10px;
	background-color: gray;
	margin: 5px;
}
