<div class="container-div">
    <div class="menu-container">
        <div class="menu">
            <div class="cardapio-foto"></div>
            <div class="cardapio-descricao">
                <div class='titulo'><h1>At dolorem totam placeat debitar</h1></div>
                <div class='meio'><h5>usuario  Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</h5></div>
                <div class='baixo'>
                    <div class='meio1'><a href='#'>Preparo</a></div>
                    <div class='meio2'><a href='#'>Porções</a></div>
                </div>
            </div>
            <div class="cardapio-footer"><a href="#">Ver main</a></div>
        </div>
        <div class="menu">
            <div class="cardapio-foto"></div>
            <div class="cardapio-descricao">
                <div class='titulo'><h1>At dolorem totam placeat debitar</h1></div>
                <div class='meio'><h5>usuario  Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</h5></div>
                <div class='baixo'>
                    <div class='meio1'><a href='#'>Preparo</a></div>
                    <div class='meio2'><a href='#'>Porções</a></div>
                </div>
            </div>
            <div class="cardapio-footer"><a href="#">Ver main</a></div>
        </div>
        <div class="menu">
            <div class="cardapio-foto"></div>
            <div class="cardapio-descricao">
                <div class='titulo'><h1>At dolorem totam placeat debitar</h1></div>
                <div class='meio'><h5>usuario  Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</h5></div>
                <div class='baixo'>
                    <div class='meio1'><a href='#'>Preparo</a></div>
                    <div class='meio2'><a href='#'>Porções</a></div>
                </div>
            </div>
            <div class="cardapio-footer"><a href="#">Ver main</a></div>
        </div>
        <div class="menu">
            <div class="cardapio-foto"></div>
            <div class="cardapio-descricao">
                <div class='titulo'><h1>At dolorem totam placeat debitar</h1></div>
                <div class='meio'><h5>usuario  Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</h5></div>
                <div class='baixo'>
                    <div class='meio1'><a href='#'>Preparo</a></div>
                    <div class='meio2'><a href='#'>Porções</a></div>
                </div>
            </div>
            <div class="cardapio-footer"><a href="#">Ver main</a></div>
        </div>
        <div class="menu">
            <div class="cardapio-foto"></div>
            <div class="cardapio-descricao">
                <div class='titulo'><h1>At dolorem totam placeat debitar</h1></div>
                <div class='meio'><h5>usuario  Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</h5></div>
                <div class='baixo'>
                    <div class='meio1'><a href='#'>Preparo</a></div>
                    <div class='meio2'><a href='#'>Porções</a></div>
                </div>
            </div>
            <div class="cardapio-footer"><a href="#">Ver main</a></div>
        </div>
        <div class="menu">
            <div class="cardapio-foto"></div>
            <div class="cardapio-descricao">
                <div class='titulo'><h1>At dolorem totam placeat debitar</h1></div>
                <div class='meio'><h5>usuario  Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</h5></div>
                <div class='baixo'>
                    <div class='meio1'><a href='#'>Preparo</a></div>
                    <div class='meio2'><a href='#'>Porções</a></div>
                </div>
            </div>
            <div class="cardapio-footer"><a href="#">Ver main</a></div>
        </div>
   </div>
</div>
